.footer{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100vw;
       display: flex;
       min-height: 15vh;
       flex-direction: column;
       background-color: rgb(0, 0, 0);
       color:rgb(255, 156, 64);
       position: absolute;
       bottom: 0;
       left: 0;
   }